.Mains {
  display: grid;
  grid-template-columns: 19% 62% 19%;
  min-height: 90%;
}

#Mains-left {
  border-right: solid 1px #aabbaa;
}
#Mains-right {
  border-left: solid 1px #aabbaa;
}

.header_grid {
  display: grid;
  grid-template-columns: 33% 33% auto;
  border-bottom: solid 1px #ababab;
  justify-content: center;
  height: 100px;
}

.footer {
  margin-top: 20px;
}
